SOA/WSDLs/AltyapiIslemleri.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.etiya.com/WS" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.etiya.com/WS" xmlns:intf="http://www.etiya.com/WS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://www.etiya.com/WS" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="borctanKapama">
        <complexType>
          <sequence>
            <element name="xdslNo" type="xsd:string"/>
            <element name="kullaniciId" type="xsd:long"/>
          </sequence>
        </complexType>
      </element>
      <element name="borctanKapamaResponse">
        <complexType>
          <sequence>
            <element name="borctanKapamaReturn" type="impl:AltyapiIslemleriSonuc"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="AltyapiIslemleriSonuc">
        <sequence>
          <element name="mesaj" nillable="true" type="xsd:string"/>
          <element name="sonucKod" type="xsd:int"/>
        </sequence>
      </complexType>
      <element name="borctanAcma">
        <complexType>
          <sequence>
            <element name="xdslNo" type="xsd:string"/>
            <element name="kullaniciId" type="xsd:long"/>
          </sequence>
        </complexType>
      </element>
      <element name="borctanAcmaResponse">
        <complexType>
          <sequence>
            <element name="borctanAcmaReturn" type="impl:AltyapiIslemleriSonuc"/>
          </sequence>
        </complexType>
      </element>
      <element name="sifreDegistirme">
        <complexType>
          <sequence>
            <element name="xdslNo" type="xsd:string"/>
            <element name="yeniSifre" type="xsd:string"/>
            <element name="kullaniciId" type="xsd:long"/>
          </sequence>
        </complexType>
      </element>
      <element name="sifreDegistirmeResponse">
        <complexType>
          <sequence>
            <element name="sifreDegistirmeReturn" type="impl:AltyapiIslemleriSonuc"/>
          </sequence>
        </complexType>
      </element>
      <element name="SMTPPortKapat">
        <complexType>
          <sequence>
            <element name="xdslNo" type="xsd:string"/>
            <element name="kullaniciId" type="xsd:long"/>
          </sequence>
        </complexType>
      </element>
      <element name="SMTPPortKapatResponse">
        <complexType>
          <sequence>
            <element name="SMTPPortKapatReturn" type="impl:AltyapiIslemleriSonuc"/>
          </sequence>
        </complexType>
      </element>
      <element name="SMTPPortAc">
        <complexType>
          <sequence>
            <element name="xdslNo" type="xsd:string"/>
            <element name="kullaniciId" type="xsd:long"/>
          </sequence>
        </complexType>
      </element>
      <element name="SMTPPortAcResponse">
        <complexType>
          <sequence>
            <element name="SMTPPortAcReturn" type="impl:AltyapiIslemleriSonuc"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="borctanAcmaResponse">
    <wsdl:part element="impl:borctanAcmaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="borctanKapamaRequest">
    <wsdl:part element="impl:borctanKapama" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SMTPPortAcResponse">
    <wsdl:part element="impl:SMTPPortAcResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="sifreDegistirmeResponse">
    <wsdl:part element="impl:sifreDegistirmeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="sifreDegistirmeRequest">
    <wsdl:part element="impl:sifreDegistirme" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SMTPPortKapatRequest">
    <wsdl:part element="impl:SMTPPortKapat" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="borctanAcmaRequest">
    <wsdl:part element="impl:borctanAcma" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SMTPPortKapatResponse">
    <wsdl:part element="impl:SMTPPortKapatResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SMTPPortAcRequest">
    <wsdl:part element="impl:SMTPPortAc" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="borctanKapamaResponse">
    <wsdl:part element="impl:borctanKapamaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="AltyapiIslemleri">
    <wsdl:operation name="borctanKapama">
      <wsdl:input message="impl:borctanKapamaRequest" name="borctanKapamaRequest"/>
      <wsdl:output message="impl:borctanKapamaResponse" name="borctanKapamaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="borctanAcma">
      <wsdl:input message="impl:borctanAcmaRequest" name="borctanAcmaRequest"/>
      <wsdl:output message="impl:borctanAcmaResponse" name="borctanAcmaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sifreDegistirme">
      <wsdl:input message="impl:sifreDegistirmeRequest" name="sifreDegistirmeRequest"/>
      <wsdl:output message="impl:sifreDegistirmeResponse" name="sifreDegistirmeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="SMTPPortKapat">
      <wsdl:input message="impl:SMTPPortKapatRequest" name="SMTPPortKapatRequest"/>
      <wsdl:output message="impl:SMTPPortKapatResponse" name="SMTPPortKapatResponse"/>
    </wsdl:operation>
    <wsdl:operation name="SMTPPortAc">
      <wsdl:input message="impl:SMTPPortAcRequest" name="SMTPPortAcRequest"/>
      <wsdl:output message="impl:SMTPPortAcResponse" name="SMTPPortAcResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AltyapiIslemleriSoapBinding" type="impl:AltyapiIslemleri">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="borctanKapama">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="borctanKapamaRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="borctanKapamaResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borctanAcma">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="borctanAcmaRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="borctanAcmaResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sifreDegistirme">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="sifreDegistirmeRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sifreDegistirmeResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMTPPortKapat">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="SMTPPortKapatRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SMTPPortKapatResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMTPPortAc">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="SMTPPortAcRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SMTPPortAcResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AltyapiIslemleriService">
    <wsdl:port binding="impl:AltyapiIslemleriSoapBinding" name="AltyapiIslemleri">
      <wsdlsoap:address location="http://10.6.152.1:9201/services/AltyapiIslemleri"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>